<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantImport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">RestaurantImport</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Import', import_tasks_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Menus', menus_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Dishes', dishes_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Sponsors', sponsors_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Events', events_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Locations', locations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Occasions', occasions_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Places', places_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Venues', venues_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
